body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 750px;
    background-color:thistle;
}

.container {
    border: solid;
    border-width: 20px;
    border-radius: 20px;
    border-color: #fca311;
    background-color: #14213d;
}

header {
    text-align: center;
    background-color: #14213d;
    color: #fca311;
    
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 64px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

h2 {
    font-size: 32px;
    padding-bottom: 10px;
}

h3 {
    padding-bottom: 5px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#upper-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.bars {
    display: flex;
    justify-content: center;
    gap: 100px;
    font-size: 24px;
}

#player-health, #computer-health {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: auto;
    border: solid;
    border-color: #fca311;
    color: #fca311;
    background-color: #14213d; 
    border-width: 5px;
}

#player-health {
    border-left: none;
    border-radius: 0 90px 90px 0;
}

#computer-health {
    border-right: none;
    border-radius: 90px 0 0 90px;
}

#win-lose {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-color: #fca311;
    border-radius: 90px;
    background-color: #14213d; 
    color: #fca311;
}

#display {
    background-color: #fca311;
    margin-top: 50px;
    width: 100%;
}

#display-text {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}

#lower-content {
    padding: 20px 0 10px 0;
    width: 100%;
    background-color: #14213d;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    gap: 5%;
}

button {
    width: 150px;
    height: 50px;
    background-color: #fca311;
    border: 0;
    border-radius: 45px;
    font-size: 24px;
    font-weight: 600;
}


